@media screen and (max-width: 768px) {
	*[role="form"] { /* Filter options change to column layout when on small viewport */
		display: flex;
		flex-flow: column nowrap;
		height: 130px;
	}
	#restaurants-list li h1 {
		font-size: 30px;;
	}
	#restaurants-list p {
		font-size: 20px;

	}
	#restaurants-list li a {
		font-size: 20px;
	}
}

@media screen and (min-width: 768px) {
	nav h1 a {
		font-size: 35px;
	}
	.inside #restaurant-map-container {
		display: flex;
		flex-flow: row wrap;
	}
	.inside #map-container {
		width: 50%;
		margin-top: 215px;

	}
	.inside #restaurant-container {
		width: 40%;
		padding-right: 0;
	}
}

@media screen and (min-width: 1280px) {
	#restaurants-list {
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
	}

}
